<% include partials/header %>




        <h1><%= event.name %> </h1>
        <p><em><%=event.date %></em></p>
        <p><%=event.location %></p>   
        <img src="<%= event.image %>">
        <p><%=event.description %></p>





<% include partials/footer %>