
<% include ../partials/header %>

<div class="container">
    
    <div class ="jumbotron">
            <div class="container">
            <h1> EventFul</h1>
            <p> The best place to see events</p>
            <a href="/events/new" class="btn btn-primary">New Event</a>
        </div>
    </div> <!-- Jumbotron End -->
    

    <!-- SIDEBAR -->
    <div class="col-md-3">
        <p class="lead">EventFUL</p>
        <div class="list-group">
            <li class="list-group-item">Info 1</li>
            <li class="list-group-item">Info 1</li>
            <li class="list-group-item">Info 1</li>
        </div>
    </div> <!-- SIDEBAR END -->
        
    <!-- CONTENT -->    
    <div class="col-md-9">
        
      
            
            <% events.forEach(function(event) { %>
            
                <div class="thumbnail">
                    
                    <div class= "row">
                        
                        <div class="col-md-3">
                            <img class="img-responsive" src="<%=event.image%>">
                        </div>
                        
                        <div class="col-md-9">
                            <h5><strong><%= event.name %></strong></h5>
                            <p><strong>Date: </strong><%=event.date %></p>
                            <p><strong>Location: </strong><%=event.location %></p>   
                            <a href="/events/<%=event._id%>/" class="btn btn-primary btn-xs">More Info</a>
                            <!-- Only user who owns event can see edit and delete buttons -->
                            <% if(currentUser && currentUser._id.equals(event.author.id)) { %>
                                <a href="/events/<%=event._id%>/edit" class="btn btn-warning btn-xs">Edit</a>
                                <form class="inline" action="/events/<%=event._id%>?_method=DELETE" method="POST">
                                    <button class="inline btn btn-danger btn-xs">Delete</button>
                                </form>
                            <% } %>
                        </div> <!-- col end -->
                        
                    </div> <!--row end-->
                    
                </div> <!-- thumbnail end -->
                
            <% }); %>
            

     
     </div> <!-- CONTENT END-->

    
</div> <!-- Container End -->











<% include ../partials/footer %>