<% include ../partials/header %>

<div class="container bottomed">

        <!-- SIDEBAR -->
        <div class="col-md-3">
           <p class="lead">EventFUL</p>
            <div class="list-group">
                <dl class="list-group-item">
                   <dt>Date</dt>
                   <dd><%=event.date %></dd>
                </dl>
                <dl class="list-group-item">
                   <dt>Location</dt>
                  <dd><%=event.location %></dd>
                </dl>
            </div>
        </div> <!-- SIDEBAR END -->
        
        
        
        <!-- CONTENT -->
        
        <div class="col-md-9">
                <div class="thumbnail">
                        <h1><%= event.name %> </h1>
                        <img class="img-responsive" src="<%= event.image %>">
                        <h4><a><%= event.name %></a></h4>
                        <h5><Strong>Submitted by: </Strong> Anonymous </h5>
                        <p><%=event.description %></p>
                        
                        <a href="/events/<%=event._id%>/edit" class="btn btn-warning btn-md">Edit</a>
                        <form class="inline" action="/events/<%=event._id%>?_method=DELETE" method="POST">
                                <button class="inline btn btn-danger btn-md">Delete</button>
                        </form>
                </div>
        </div> <!-- CONTENT END -->



</div> <!-- CONTAINTER END -->


<% include ../partials/footer %>