<% include ../partials/header %>

<div class="container bottomed">

        <h1 class="eventTitle"><%= event.name %></h1>
        
        <hr class="firsthr">
        
        <!------------------------------- SIDEBAR ------------------------------->
        
        <div class="sidebar col-md-3">

            <div class="list-group">
                
                <!----------- DATE ----------->
                
                <dl class="list-group-item">
                   <dt>Date</dt>
                   <dd id="show-eventDate"></dd>
                   <script> 
                        var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
                        var day = <%=event.date.getDay(); %>
                        var date = days[day] + ",  " + "<%=event.date.toDateString().substring(4) %>"
                        $('#show-eventDate').text(date);
                   </script>
                </dl>
                
                <!-------- START TIME -------->
                <dl class="list-group-item">
                   <dt>Start Time</dt>
                   <dd><%=event.starttime %></dd>
                </dl>
                
                <!--------- END TIME --------->
                <dl class="list-group-item">
                   <dt>End Time</dt>
                   <dd><%=event.endtime %></dd>
                </dl>
                
                <!--------- LOCATION --------->
                <dl class="list-group-item">
                   <dt>Location</dt>
                   <dd><%=event.venueName%></dd>
                   <% var address;
                      if (event.unit && event.address) {
                          address = event.unit + " - " + event.address;
                      } else if (event.address) {
                          address = event.address;
                      } else {
                          address = event.unit; 
                      }
                    %>
                    <dd><%=address%></dd>
                   <dd><%=event.city%></dd>
                   <dd><%=event.province%></dd>
                   <dd><%=event.postalCode%></dd>
                </dl>
                
                <!------------ MAP ----------->
                <dl class="list-group-item">
                    
                    <div id="showMapp"></div>
                    <script>
                        var mapLatLngString = "<%=event.mapCenter%>";
                        var latLngRawArray = mapLatLngString.split(",");
                        var lat = latLngRawArray[0].substr(1);
                        var lng = latLngRawArray[1].substring(0, latLngRawArray[1].length - 1 );
                        var latlngObj = new google.maps.LatLng(lat, lng);
                        map = new google.maps.Map(document.getElementById('showMapp'));
                        map.setCenter(latlngObj);
                        map.setZoom(15);
                    </script>
                </dl>
                
                <!---------- Website --------->
                
                <dl class="list-group-item">
                   <dt>Website</dt>
                   <dd><%=event.eventURL %></dd>
                </dl>
                
                <!------ Ticket Sale URL ----->
                
                <dl class="list-group-item">
                   <dt>Ticket Sale URL</dt>
                   <dd><%=event.ticketURL %></dd>
                </dl>
                
                <!--------- Organizer -------->

                 <dl class="list-group-item">
                   <dt>Organizer Details</dt>
                   <dd> Name: <%=event.organizerName %></dd>
                   <dd> Phone: <%=event.organizerPhone %></dd>
                   <dd> Email: <%=event.organizerEmail %></dd>
                </dl>
                

            </div> <!-- list-group end -->
        </div> <!-- SIDEBAR END -->
        
        
        
        <!------------------------------- MAIN AREA ------------------------------->
        
        <div class="contentArea col-md-9">
                
            <div class="list-group">  
                
                <!-------- DESCRIPTION ------->
                
                <dl class="list-group-item">
                     <dt>Event Description</dt>
                     <dd><%=event.description %></dd>
                </dl>
                
                <!------------ IMAGE ---------->
                <dl class="list-group-item">
                     <dd><img src="../<%=event.image%>"</dd>
                </dl>       
                
                <!----------- AUTHOR ---------->
                        
                <dl class="list-group-item">  
                     <h5><Strong>Submitted by: </Strong> <%= event.author.username %> </h5>
                     <!-- Only user who owns event can see edit and delete buttons -->
                     <% if(currentUser && currentUser._id.equals(event.author.id)) { %> 
                          <a href="/events/<%=event._id%>/edit" class="btn btn-warning btn-md">Edit</a>
                          <form class="inline" action="/events/<%=event._id%>?_method=DELETE" method="POST">
                                <button class="inline btn btn-danger btn-md">Delete</button>
                          </form>
                     <% } %>
                </dl>
                
            </div> <!--list-group end-->    
                
        </div> <!-- CONTENT END -->



</div> <!-- CONTAINTER END -->


<% include ../partials/footer %>