<% include ../partials/header %>


<script type="text/javascript" src="/js/showpage.js"></script>

<div class="container lightshadow pagePadding whiteBackground">

        <div class="title ">
            <h2 class="eventTitle"><span class="possibleLongInput"><%- event.name %></span></h2>
        </div> 
        
        <hr class="blue pushNextDownLg">
        
        <!------------------------------- SIDEBAR ------------------------------->
        
        <div class="sidebar col-md-3">

            <div class="list-group">
                
                <!----------- AUTHOR ---------->
                
                <% if(currentUser && currentUser._id.equals(event.author.id)) { %>    
                    <dl class="list-group-item">  
                         <!-- Only user who owns event can see edit and delete buttons -->
                      <div class="buttonBox">
                        <% var eventDate = moment.utc(event.date);
                           var today = moment();
                           if(eventDate.isAfter(today)) { %>
                                <a href="/events/<%=event._id%>/edit" class="btn btn-warning btn-xs">Edit</a>
                        <% } %>
                          <form class="inline" action="/events/<%=event._id%>?_method=DELETE" method="POST">
                                <button class="inline btn btn-danger btn-xs">Delete</button>
                          </form>
                      </div>
                    </dl>
                <% } %>
                
                <!----------- DATE ----------->
                
                <dl class="list-group-item">
                   <dt>Date & Time</dt>
                   <dd id="show-eventDate"></dd>
                   <input id="hiddenDate" type="hidden" value="<%=event.date%>"/> <!-- for js script access -->
                   <% if(event.endtime) { %>
                       <dd><%=event.starttime %> - <%=event.endtime %></dd>
                    <% } else { %>
                       <dd><%=event.starttime %></dd>
                    <% } %>
                </dl>
                

                <!--------- LOCATION --------->
                <dl class="list-group-item">
                   <dt>Location</dt>
                   <dd><span class="possibleLongInput"><%-event.venueName%></span></dd>
                   <% var address;
                      if (event.unit && event.address) {
                          address = event.unit + " - " + event.address;
                      } else if (event.address) {
                          address = event.address;
                      } else {
                          address = event.unit; 
                      }
                    %>
                    <dd><span class="possibleLongInput"><%-address%></span></dd>
                   <dd><%=event.city%></dd>
                   <dd><%=event.province%></dd>
                   <dd><%=event.postalCode%></dd>
                </dl>
                
                <!------------ MAP ----------->
                <% if(event.mapCenter) { %>
                    <dl class="list-group-item">
                        <div id="showMapp"></div>
                        <input id="mapCenter" type="hidden" value="<%=event.mapCenter%>" />
                    </dl>
                <% } %> 
                
                <!--------- EVENT COST --------->
                
                <% if(event.eventCost) { %>
                    <dl class="list-group-item">
                        <dt>Event Cost</dt>
                        <dd><span class="possibleLongInput"><%= event.eventCost %></span></dd>
                    </dl>   
                <% } %>
                
                <!---------- REGISTERATION --------->
                
                <% if(event.registerationURL) { %>
                    <dl class="list-group-item">
                       <dt>Buy Tickets / Register At</dt>

                       <dd><a class="possibleLongInput" href="<%=event.registerationURL%>"><%=event.registerationURL %></a></dd>
                    </dl>
                <% } %>
                
                <!---------- Website --------->
                
                <% if(event.eventURL) { %>
                    <dl class="list-group-item">
                       <dt>Event Website</dt>
                       <dd><a class="possibleLongInput" href="<%=event.eventURL%>"><span class="showPageText"><%=event.eventURL %></span></a></dd>
                    </dl>
                <% } %>
                
                <!--------- Organizer -------->

                 <dl class="list-group-item">
                   <dt>Organizer Details</dt>
                   <dd><span class="possibleLongInput"> Name: <%=event.organizerName %></span></dd>
                   <dd><span class="possibleLongInput">Email: <a href="mailto:<%=event.organizerEmail %>"><%=event.organizerEmail %></a></span></dd>
                </dl>
                

            </div> <!-- list-group end -->
        </div> <!-- SIDEBAR END -->
        
        
        
        <!------------------------------- MAIN AREA ------------------------------->
        
        <div class="contentArea col-md-9">
                
            <div class="list-group">  
            
                
                <!-------- DESCRIPTION ------->
                
                <dl class="list-group-item">
                     <dt>Event Description</dt>
                     <dd id="eventDescDisplay"><span class="possibleLongInput"><%-event.description %></span></dd>
                </dl>
                
                
                
                <!------------ IMAGE ---------->
                <% if(event.image) { %>
                    <dl class="list-group-item">
                         <dd class="center"><img id="sEventImage" src="../..<%=event.image%>"</dd>
                    </dl>       
                <% } %>
                
                <!------------ AUTHOR ---------->
                <dl class="list-group-item">
                     <dt>This event was posted by: </dt>
                     <% var link = "/user/" + event.author.id; %>
                     <dd id="eventDescDisplay"><span class="possibleLongInput"><a href="<%=link%>"><%-event.author.username %></a></span></dd>
                </dl>
                
            </div> <!--list-group end-->    
                
        </div> <!-- CONTENT END -->

<div class="mediaQueryTesterMS"></div>

</div> <!-- CONTAINTER END -->



<% include ../partials/footer %>